<div class="submitform">
<div id= "stripes">
<div class="formcontainer ">
<div class="row">
<%= form_for(@contestant) do |f| %>

<div class="col-xs-6 col-sm-6 col-md-6 ">
    <%= f.label :firstname, "FIRST NAME", class:"label" %>
    <%= f.text_field :firstname, class:"text-field form-control inner-shadow input-lg" %>

     <%= f.label :lastname, "LAST NAME", class:"label" %>
    <%= f.text_field :lastname, class:"text-field form-control inner-shadow input-lg"  %>

    <%= f.label :email, "E-MAIL", class:"label" %>
    <%= f.text_field :email, class:"text-field form-control inner-shadow input-lg" %>
</div>
<div class="col-xs-6 col-sm-6 col-md-6">
    <%= f.label :birthday, "DATE OF BIRTH", class:"label" %>
    <%= f.text_field :birthday, class:"text-field form-control inner-shadow input-lg" %>

     <%= f.label :zipcode, "ZIP CODE", class:"label" %>
    <%= f.text_field :zipcode, class:"text-field form-control inner-shadow input-lg" %>
<div class="form-group">
     <%= f.label :provider,"CABLE PROVIDER", class:"label" %>
    <%= f.select(:provider, options_for_select([ ['Cablevision', "cablevision"], ['Time Warner', "time warner"],["Other", "other"]] ), {:include_blank => true}, {:class => 'btn btn-large text-field form-control inner-shadow input-lg '})  %>
    </div>
</div>

</div>
</div>
</div>
<div class="checkfield"><input type="checkbox">
<span>Yes, I would like to receive news and special offers from the resort!</span>
<span id="privacypolicy">PRIVACY POLICY</span>
</div>
  <% if @contestant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contestant.errors.count, "error") %> prohibited this contestant from being saved:</h2>

      <ul>
      <% @contestant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>

