<div class="submitform">
<div class="row">
<%= form_for(@contestant) do |f| %>

<div class="col-sm-6 col-md-6">
    <%= f.label :firstname, class:"label" %>
    <%= f.text_field :firstname, class:"text-field" %>

     <%= f.label :lastname, class:"label" %>
    <%= f.text_field :lastname, class:"text-field"  %>

    <%= f.label :email, class:"label" %>
    <%= f.text_field :email, class:"text-field" %>
</div>
<div class="col-sm-6 col-md-6">
    <%= f.label :birthday, class:"label" %>
    <%= f.text_field :birthday, class:"text-field" %>

     <%= f.label :zipcode, class:"label" %>
    <%= f.text_field :zipcode, class:"text-field" %>

     <%= f.label :provider, class:"label" %>
    <%= f.text_field :provider, class:"text-field" %>
</div>

</div>

  <% if @contestant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contestant.errors.count, "error") %> prohibited this contestant from being saved:</h2>

      <ul>
      <% @contestant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
